a 
{
	color: #22BCE0;
}


body 
{
	background: #EEEEEE;
	/*background-color: #EEEEEE; es otra manera de poner el c. fondo*/
	font-family: Arial;
	font-size: 16px;
}

header 
{
	background: #343B54;
	color: white;
	overflow: hidden;
	padding:  0.5em;
}

header figure
{

	float: left;
}

header h1 
{
	font-size: 1.2em; /*16 (tamaño real de la fuente * 1.2 = 19.2)*/
	font-weight: normal; /*quita la negrita al h1*/
	margin: 0.5 70px 0 0;
}

header #logo img
{
	width: 52px; /*cuando se proporciona el ancho, proporcionalmente se da el alto*/
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;
}

header #avatar img
{
	
	position: absolute;
	top: 0;
	right: 0;
	margin: 1.5em 0.5em 0 0;
}

header #avatar img
{
	width: 55px;
	border-radius: 50%;
}


nav 
{
	background: #80BCA3;
	padding: 0 0.5em;
	position: relative;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;

}

nav ul #publicar_nav
{
	position: absolute;
	top: -0.4em;
	right: 0;
}

nav ul #publicar_nav a
{
	background: #22BCE0;
	padding: 0.8em ;
	border-radius: 5px;
	text-decoration: none;
	font-style: italic;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px; /*Woooow*/
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
}

nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;

}

nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}


footer 
{
	background: #22BCE0;
	text-align: center;
	color: rgba(255,255,255,0.7);
	padding: 1em;
}

footer p:first-child
{
	margin-bottom: 0;
}

footer p:last-child
{
	margin-top: 0;
}

footer p:last-child:before
{
	content: "- ";
}

footer p:last-child:after
{
	content: " -";
}

#contenido
{
	margin: 1em;
}

#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	overflow: hidden;

}

#contenido .item .imagen_item img
{
	width: 96px;
}

#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;

}

#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
}

#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}

#contenido .item .author_item
{
	color: #AAA;
}





























