a 
{
	color: #22BCE0;
}


body 
{
	background: #EEEEEE;
	/*background-color: #EEEEEE; es otra manera de poner el c. fondo*/
	font-family: Arial;
	font-size: 16px;
}

header 
{
	background: #343B54;
	color: white;
}

header h1 
{
	font-size: 18px;
	font-weight: normal; /*quita la negrita al h1*/
}

header #logo img
{
	width: 52px; /*cuando se proporciona el ancho, proporcionalmente se da el alto*/
}